{% extends "cdosstream/main.html" %}
{% load static %}

{% block global_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-scp.css">
{% endblock %}

{% block local_scripts %}
<script async src="{% static 'cdosstream/js/stream-control-panel.js' %}?{{TIMESTAMP}}" type="module"></script>
<script src="/static/cdosstream/js/scp-events.js"></script>

<script>
var WEBSOCKET_SERVER_HOST = "{{WEBSOCKET_SERVER_HOST}}";
var WEBSOCKET_SERVER_PORT = "{{WEBSOCKET_SERVER_PORT}}";
</script>
{% endblock %}

{% block content %}
<header id="header">
    <div id="ws-connection" title="Disconnected">❌</div>
    <div id="stream-viewers">---</div>
    <div id="stream-title" class="max-ch-80"></div>
    <div id="stream-category" class="max-ch-20"></div>
    <div id="event-position">
        <select id="event-position-select" title="Redeem Position">
            <option value="position-standard">Standard</option>
            <option value="position-centered">Center</option>
        </select>
    </div>
    <div id="channel-select"><input name="twitch-channel-name" value="WorldsOfZZT" title="Twitch Channel Name"></div>
</header>
<div id="chat-frame">
    <div class="flex-centered-wrapper">
        <button class="iframe-launcher" data-url="https://twitch.tv/[CHANNEL]/chat" data-target="#chat-frame" data-width="350px" data-height="646px">
            <img src="/static/cdosstream/image/twitch-16px.png"><br>Open Chat
        </button>
    </div>
</div>
<div id="forms">
{% for form in forms %}
    <form id="{{form.identifier}}">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
        {{field.errors}}
        {{field.label_tag}}
        <div class="field-value">
            {{field}}
        </div>
        {% if field.help_text %}
        <p class="field-help">{{field.help_text|safe}}</p>
        {% endif %}
    </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
    {{field}}
    {% endfor %}
    <div class="submit-wrapper">
        <input type="submit" id="submit-{{form.identifier}}" value="{{form.submit_text|default:'Set'}}">
    </div>
    </form>
{% endfor %}
</div>
<div id="notes">
    <textarea id="notepad" placeholder="Notes...">{{notes}}</textarea>
</div>
<div id="cards">
    <table id="card-overview">
        {% for card in cards %}
            <tr data-pk="{{card.pk}}"><td>{{card.title.value|safe}}<br>{{card.authors.value|safe}}</td><td>{{card.date.value|safe}}<br>{{card.company.value|safe}}</td></tr>
        {% endfor %}
    </table>
</div>
<div id="event-log">
    <table id="event-overview"></table>
</div>
<div id="stream">
    <div class="flex-centered-wrapper">
        <button class="iframe-launcher" data-url="https://twitch.tv/[CHANNEL]/popout" data-target="#stream" data-width="640px" data-height="350px">
            <img src="/static/cdosstream/image/twitch-16px.png"><br>Open Stream
        </button>
    </div>
</div>
{% endblock %}
