{% extends "cdosstream/main.html" %}
{% load static %}
{% load cdosstream_tags %}

{% block global_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-scp-dynamic.css">
{% endblock %}

{% block local_scripts %}
<script async src="{% static 'cdosstream/js/stream-control-panel.js' %}?{{TIMESTAMP}}" type="module"></script>
<script async src="{% static 'cdosstream/js/obs-ws.js' %}?{{TIMESTAMP}}" type="module"></script>
<script src="/static/cdosstream/js/scp-events.js"></script>
{% include "cdosstream/subtemplate/websocket-server-info.html" %}

{% endblock %}

{% block content %}
<main>
    <header id="header">
        <div id="connection-wrapper">
            <span id="ws-connection" class="connection-icon" title="Disconnected" data-key="scp">❌</span>
            <span id="obs-connection" class="connection-icon" title="Disconnected" data-key="obsws">❌</span>
        </div>
        <div id="stream-viewers">---</div>
        <div id="event-position">
            <select id="event-position-select" title="Redeem Position">
                <option value="position-standard">Standard</option>
                <option value="position-centered">Center</option>
            </select>
        </div>
        <div id="widget-select-wrapper">
            <div class="widget-button" data-widget="notes" title="Notepad">📝</div>
            <div class="widget-button" data-widget="cards" title="Cards">📇</div>
            <div class="widget-button" data-widget="forms" title="Forms">⚙️</div>
            <div class="widget-button" data-widget="obsws" title="OBSWS Test">💡</div>
            <div class="widget-button" data-widget="twitch" title="Twitch"><img src="/static/cdosstream/image/twitch-16px.png"></div>
        </div>
        <div id="sub-info" title="{{SUB_GOAL_REWARD}}">Subs: <span id="sub-count-value">----</span>/<span id="sub-goal-value">{{SUB_GOAL}}</span></div>
        <div id="obs-scene-wrapper">🎥 <span class="obs-value truncate-text" data-obs-key="scene">----------</span></div>
        <div id="obs-mic-wrapper">🎤 <span class="obs-value" data-obs-key="microphone">------</span></div>
    </header>
    <div id="chat-frame">
        <div class="flex-centered-wrapper">
            <button class="iframe-launcher" data-url="https://twitch.tv/[CHANNEL]/chat" data-target="#chat-frame" data-width="360px" data-height="600px">
                <img src="/static/cdosstream/image/twitch-16px.png"><br>Open Chat (XL)
            </button>
            <button class="iframe-launcher" data-url="https://twitch.tv/[CHANNEL]/chat" data-target="#chat-frame" data-width="240px" data-height="440px">
                <img src="/static/cdosstream/image/twitch-16px.png"><br>Open Chat (S)
            </button>
        </div>
    </div>

<!--Widgets-->
    <div id="notes" class="widget">
        <section class="controls">Cntrl.</section>
        <textarea id="notepad" placeholder="Notes...">{{notes}}</textarea>
    </div>
    <div id="cards" class="widget">
        <div class="sticky-header">{% display_form set_card_form %}</div>
        <table id="card-overview">
            {% for card in cards %}
                <tr data-pk="{{card.pk}}">
                    <td>
                        <div class="card-title">{{card.title.value|striptags}}</div>
                        <div class="card-author">{{card.authors.value|striptags}}</div>
                        <div class="card-company">{{card.companies.value|striptags}}</div>
                    </td>
                    <td class="cramped">
                        <div class="card-date">{{card.date.value|striptags}}</div><a href="" class="card-url" id="card-url-{{card.pk}}" target="_blank">View</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="forms" class="widget">
    {% for form in forms %}
        <form id="{{form.identifier}}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
            {{field.errors}}
            {{field.label_tag}}
            <div class="field-value">
                {{field}}
            </div>
            {% if field.help_text %}
            <p class="field-help">{{field.help_text|safe}}</p>
            {% endif %}
        </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
        {{field}}
        {% endfor %}
        <div class="submit-wrapper">
            <input type="submit" id="submit-{{form.identifier}}" value="{{form.submit_text|default:'Set'}}">
        </div>
        </form>
    {% endfor %}
    <div id="quick-events">
    </div>
    </div>
    <div id="event-log">
        <div id="event-overview"></div>
    </div>

    <div id="obsws" class="widget active">
        <textarea id="obsws-log"></textarea>
        <div style="display:flex;flex-wrap:wrap">
            <button id="wad">WAD</button>
            <button id="reset-stream">Reset Stream</button>
            <button id="obs-getscene">Get Scene</button>
            <button id="test1">Test 1</button>
            <button id="clear-log">Clear Log</button>
            <button id="test-fade">Fade "Intro Music"</button>
            <button id="test-sunday" data-key="sunday">Sunday</button>
            <button id="test-24" data-key="24">24</button>
            <select id="world-overview-key">
                <option value="x">Manual</option>
                <option value="sunday">Sun</option>
                <option value="monday">Mon</option>
                <option value="tuesday">Tue</option>
                <option value="wednesday">Wed</option>
                <option value="thursday">Thu</option>
                <option value="friday">Fri</option>
                <option value="saturday">Sat</option>
                <option value="24">24</option>
                <option value="bonus">Bonus</option>
                <option value="test">test</option>
            </select>
            </div>
    </div>

    <div id="twitch" class="widget">
        <div id="stream-category-wrapper">Category: <span id="stream-category"></span></div>
        <div id="stream-title-wrapper">Title: <span id="stream-title" class="truncate-text"></span></div>
    </div>
</main>
{% endblock %}
