{% extends "cdosstream/main.html" %}
{% load static %}
{% load cdosstream_tags %}

{% block global_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-scp-dynamic.css">
{% endblock %}

{% block local_scripts %}
<script async src="{% static 'cdosstream/js/stream-control-panel.js' %}?{{TIMESTAMP}}" type="module"></script>
<script src="/static/cdosstream/js/scp-events.js"></script>

<script>
var WEBSOCKET_SERVER_HOST = "{{WEBSOCKET_SERVER_HOST}}";
var WEBSOCKET_SERVER_PORT = "{{WEBSOCKET_SERVER_PORT}}";
</script>
{% endblock %}

{% block content %}
<main>
    <header id="header">
        <div id="ws-connection" title="Disconnected">❌</div>
        <div id="stream-viewers">---</div>
        <div id="stream-category" class="truncate-text"></div>
        <div id="stream-title" class="truncate-text"></div>
        <div id="event-position">
            <select id="event-position-select" title="Redeem Position">
                <option value="position-standard">Standard</option>
                <option value="position-centered">Center</option>
            </select>
        </div>
        <div id="widget-select-wrapper">
            <div class="widget-button" data-widget="notes" title="Notepad">📝</div>
            <div class="widget-button" data-widget="cards" title="Cards">📇</div>
            <div class="widget-button" data-widget="forms" title="Forms">⚙️</div>
        </div>
        <div id="sub-info" title="{{SUB_GOAL_REWARD}}">Subs: <span id="sub-count-value">----</span>/<span id="sub-goal-value">{{SUB_GOAL}}</span></div>
    </header>
    <div id="chat-frame">
        <div class="flex-centered-wrapper">
            <button class="iframe-launcher" data-url="https://twitch.tv/[CHANNEL]/chat" data-target="#chat-frame" data-width="360px" data-height="600px">
                <img src="/static/cdosstream/image/twitch-16px.png"><br>Open Chat (XL)
            </button>
            <button class="iframe-launcher" data-url="https://twitch.tv/[CHANNEL]/chat" data-target="#chat-frame" data-width="240px" data-height="440px">
                <img src="/static/cdosstream/image/twitch-16px.png"><br>Open Chat (S)
            </button>
        </div>
    </div>
    {% comment %}<div id="touch-frame">
        <div class="touch-button touch-blue">
            <div class="touch-icon">📝</div>
            <div class="touch-text">Notepad</div>
        </div>
        <div class="touch-button touch-blue">
            <div class="touch-icon">📇</div>
            <div class="touch-text">Cards</div>
        </div>
        <div class="touch-button touch-blue">
            <div class="touch-icon">⚙️</div>
            <div class="touch-text">Forms</div>
        </div>
    </div>{% endcomment %}

<!--Widgets-->
    <div id="notes" class="widget">
        <section class="controls">Cntrl.</section>
        <textarea id="notepad" placeholder="Notes...">{{notes}}</textarea>
    </div>
    <div id="cards" class="widget">
        <div class="sticky-header">{% display_form set_card_form %}</div>
        <table id="card-overview">
            {% for card in cards %}
                <tr data-pk="{{card.pk}}">
                    <td>
                        <div class="card-title">{{card.title.value|striptags}}</div>
                        <div class="card-author">{{card.authors.value|striptags}}</div>
                        <div class="card-company">{{card.companies.value|striptags}}</div>
                    </td>
                    <td class="cramped">
                        <div class="card-date">{{card.date.value|striptags}}</div><a href="" class="card-url" id="card-url-{{card.pk}}" target="_blank">View</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="forms" class="widget">
    {% for form in forms %}
        <form id="{{form.identifier}}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
            {{field.errors}}
            {{field.label_tag}}
            <div class="field-value">
                {{field}}
            </div>
            {% if field.help_text %}
            <p class="field-help">{{field.help_text|safe}}</p>
            {% endif %}
        </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
        {{field}}
        {% endfor %}
        <div class="submit-wrapper">
            <input type="submit" id="submit-{{form.identifier}}" value="{{form.submit_text|default:'Set'}}">
        </div>
        </form>
    {% endfor %}
    </div>
    <div id="event-log">
        <div id="event-overview"></div>
    </div>
</main>
{% endblock %}
