{% extends "cdosstream/main.html" %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-events.css">
<style>
#stream-card a
{
    text-decoration:none;
    color:var(--ega-white);
}
</style>
{% endblock %}

{% block body %}
<div id="stream-card" class="cp437 ega-darkblue-bg" data-card-pk="{{card.pk}}">
    <div>
        <h1><span class="heading-letter ega-gray-bg">W</span>World{% if "," in card.world %}s{% endif %}:</h1>
        <div class="indented-block">{{card.title.value|safe}}</div>
    </div>
    <div>
        <h1><span class="heading-letter ega-darkcyan-bg">A</span>Author{% if "," in card.author %}s{% endif %}:</h1>
        <div class="indented-block">{{card.authors.value|default:"Unknown"|safe}}</div>
    </div>
    {% if card.company %}
    <div>
        <h1><span class="heading-letter ega-darkcyan-bg">C</span>Compan{% if "," in card.company %}ies{% else %}y{% endif %}:</h1>
        <div class="indented-block">{{card.company}}</div>
    </div>
    {% endif %}
    <div>
        <h1><span class="heading-letter ega-gray-bg">D</span>Date{% if "," in card.year %}s{% endif %}:</h1>
        <div class="indented-block">{{card.date.value|default:"Unknown"|safe}}</div>
    </div>
</div>
{% endblock %}
