* { box-sizing:border-box; }

@font-face
{
    /* http://int10h.org/oldschool-pc-fonts/readme/ */
    font-family: 'cp437';
    src: url('/static/cdosstream/font/PxPlus_IBM_EGA_8x14.ttf');
    font-weight: normal;
    font-style: normal;
}

.cp437 { font-family: "cp437"; }

:root {
    --ega-blue: #55F;
    --ega-green: #5F5;
    --ega-cyan: #5FF;
    --ega-red: #F55;
    --ega-purple: #F5F;
    --ega-yellow: #FF5;
    --ega-white: #FFF;
    --ega-gray: #AAA;
    --ega-black: #000;
    --ega-darkblue: #00A;
    --ega-darkgreen: #0A0;
    --ega-darkcyan: #0AA;
    --ega-darkred: #A00;
    --ega-darkpurple: #A0A;
    --ega-darkyellow: #A50;
    --ega-darkgray: #555;
}

.ega-blue { color:var(--ega-blue); }
.ega-green { color:var(--ega-green); }
.ega-cyan { color:var(--ega-cyan); }
.ega-red { color:var(--ega-red); }
.ega-purple { color:var(--ega-purple); }
.ega-yellow { color:var(--ega-yellow); }
.ega-white { color:var(--ega-white); }
.ega-gray { color:var(--ega-gray); }
.ega-black { color:var(--ega-black); }
.ega-darkblue { color:var(--ega-darkblue); }
.ega-darkgreen { color:var(--ega-darkgreen); }
.ega-darkcyan { color:var(--ega-darkcyan); }
.ega-darkred { color:var(--ega-darkred); }
.ega-darkpurple { color:var(--ega-darkpurple); }
.ega-darkyellow { color:var(--ega-darkyellow); }
.ega-darkgray { color:var(--ega-darkgray); }
.ega-blue-bg { background-color:var(--ega-blue); }
.ega-green-bg { background-color:var(--ega-green); }
.ega-cyan-bg { background-color:var(--ega-cyan); }
.ega-red-bg { background-color:var(--ega-red); }
.ega-purple-bg { background-color:var(--ega-purple); }
.ega-yellow-bg { background-color:var(--ega-yellow); }
.ega-white-bg { background-color:var(--ega-white); }
.ega-gray-bg { background-color:var(--ega-gray); }
.ega-black-bg { background-color:var(--ega-black); }
.ega-darkblue-bg { background-color:var(--ega-darkblue); }
.ega-darkgreen-bg { background-color:var(--ega-darkgreen); }
.ega-darkcyan-bg { background-color:var(--ega-darkcyan); }
.ega-darkred-bg { background-color:var(--ega-darkred); }
.ega-darkpurple-bg { background-color:var(--ega-darkpurple); }
.ega-darkyellow-bg { background-color:var(--ega-darkyellow); }
.ega-darkgray-bg { background-color:var(--ega-darkgray); }
.ega-transparent-bg { background-color:transparent; }

body
{
    margin:0px;
    background-color:#111;
    font-family:monospace;
    font-size:10pt;
}

main
{
    display:grid;
    gap:1px;
    background:#000;
    grid-template-areas:
        "header header"
        "chat events"
        "chat widget";


    max-width:1510px;
    height:100vh;
    grid-template-columns:360px 1fr;
    grid-template-rows:20px 200px 1fr;
}

@media (max-width:899px) {
    main
    {
        grid-template-columns:240px 1fr;
    }

    #touch-frame { display:none; }
}

#header { grid-area:header; }
#chat-frame { grid-area:chat; background-color:#A0A; }
#event-log { grid-area:events; }
#touch-frame { grid-area:touch; }

#event-log { background-color:var(--ega-darkcyan); overflow:auto; }

#header { background: #D67FFF; display:flex; gap:1px; color:#FFA;}
#header > div { background:#00A; padding-left:2px; padding-right:2px; min-width:2ch; display:flex; }

.widget { grid-area:widget; background-color:#D67FFF; }
.widget:not(.active) { display:none; }
#notes.active { display:flex; }

iframe { border:0px; }

#cards {
    background:#B5FF91;
    overflow:auto;
}

#card-overview td > div + div
{
    border-top:1px solid #0A0;
}

.card-title
{
    font-style:oblique;
}

.card-author, .card-company { text-align:right; }

.cramped
{
    width:7ch;
    vertical-align:top;
    text-align:right;
    padding-left:1ch;
    padding-right:1ch;
}

.sticky-header
{
    position:sticky;
    top:0px;
    background:#FFD700;
}

#forms
{
    background:#F33;
}

form
{
    border-bottom:1px solid #000;
    display:flex;
    gap:4px;
    align-items:flex-end;
    max-width:530px;
    padding:2px;
    flex-wrap:wrap;
}

form + form
{
    margin-top:2px;
}

.field-wrapper
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex:1;
}

.field-wrapper input, .field-wrapper select, .field-wrapper button
{
    width:200px;
    max-width:200px;
}

.submit-wrapper
{
    flex:0 0 100px;
}

.submit-wrapper input[type="submit"]
{
    width:100px;
}

table { border-collapse:collapse; }

table td
{
    border-bottom:2px solid #000;
}

/* Event Log Widget */
#event-log .event .event-row
{
	display:grid;
    font-family:cp437;
    font-size:16px;
    grid-template-areas: "icon pk time user"
    "icon extra extra extra";
    grid-template-columns: 16px 5ch 6ch 1fr;
    border-bottom:1px solid var(--ega-white);
}

.event-icon
{
    grid-area: icon;
    background-color: var(--ega-black);
    font-size:28px;
    width:16px;
    height:28px;
    padding:0px;
    cursor:pointer;
}
.event-pk { grid-area: pk; }
.event-time { grid-area: time; }
.event-user { grid-area: user; }
.event-extra { grid-area: extra; display:flex; gap:1ch; }
.event-months { color:var(--ega-green); }
.event-message { color:var(--ega-yellow); }

#event-log .event:nth-child(odd) { background:var(--ega-darkred); color:var(--ega-white); }
#event-log .event:nth-child(even) { background:var(--ega-darkcyan); color:var(--ega-white); }
/* End Event Log Widget */


#notes {
    flex-direction:column;
    background-color:#FFD700;
    padding:0px 3px 3px 3px;
}

#notes .controls { flex:0 0 auto; }

#notepad
{
    border:1px solid #000;
    flex:1;
    resize:none;
    margin:0px;
}

#event-overview
{
    width:100%;
}

.event-kind
{
    width:26ch;
}

.row-channelsubscriptionmessage
{
    background:#00A;
    color:#FF5;
}

#stream-viewers
{
    max-width:4ch;
    text-align:center;
}

#stream-category
{
    width:10ch;
    text-align:center;
}

#stream-title
{
    width:20ch;
}

.truncate-text { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

button.shortcut-button
{
    width:auto;
    margin-bottom:2px;
}

#send-command-form .field-wrapper
{
    flex:1 0 100%;
}

#send-command-form .submit-wrapper
{
    flex:1;
    text-align:right;
}


#header select, #header input {
    font-family:monospace;
    height:100%;
    margin:0px;
    margin-top:-1px;
    border:0px;
    font-size:12px;
}

.flex-centered-wrapper
{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}


.selected
{
    background-color:#B591FF;
}

#touch-frame
{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    padding:10px;
}

.touch-button
{
    flex:0 0 90px;
    display:flex;
    height:100px;
    border-radius:8px;
    border:4px solid #FFF;
    flex-direction:column;
    text-align:center;
    justify-content:space-around;
    padding:4px;
    background-color:#666;
    color:#FFF;
    cursor:pointer;
}

.touch-blue { background-color:#116; border-color:#33F; }

.touch-icon
{
    font-size:24pt;
}

#widget-select-wrapper
{
    display:flex;
    font-size:larger;
}

.widget-button
{
    cursor:pointer;
}

/* Custom Cards */
#custom-card-form textarea { padding:0px; max-width:275px; margin-right:15px; height:3ch;}
#custom-card-form textarea:focus { height:12ch; }
/* End Custom Cards */

#obsws
{
    background-color:#D67FFF;
    padding-left:1ch;
}

#obsws-log
{
    width:95%;
    height:200px;
    margin:auto;
}

.obs-value[data-obs-key=microphone] { width:6ch; text-align:center; }
.obs-value[data-obs-key=scene] { width:10ch; }
#obs-mic-wrapper.muted { background-color:#A00; color:#F55; }
