{% extends "cdosstream/main.html" %}
{% load cdosstream_tags %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-layout.css">
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-events.css">
<style>
body {
    margin:0px;
}

video
{
    margin-top:-15px;
}

h2
{
    font-weight:normal;
    font-size:28px;
}
</style>
{% endblock %}

{% block body %}
<video src="/static/cdosstream/scene/intro/intro.mp4" autoplay="autoplay" loop="True"></video>
<div class="pos-hud block">
    <div class="info-card">
        <div id="stream-card" class="cp437 ega-darkblue-bg" data-card-pk="{{card.pk}}">
            {% audio_info "intro" %}
    </div>
</div>
{% endblock %}
