{% extends "cdosstream/main.html" %}
{% load cdosstream_tags %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-layout.css">
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-events.css">
<style>
body
{
    background:url("/static/cdosstream/scene/ad/ad-break-bg.png");
    background-repeat:no-repeat;
    background-position:0px 30px;
}
</style>
{% endblock %}

{% block body %}
<div class="pos-hud block">
    <div class="info-card">
        <div id="stream-card" class="cp437 ega-darkblue-bg">
            {% audio_info "ad-break" %}
        </div>
    </div>
</div>
{% endblock %}
