{% extends "cdosstream/main.html" %}
{% load cdosstream_tags %}
{% load static %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-layout.css">
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-events.css">
<style>
.art-wrapper
{
    background-color:var(--ega-darkblue);
    width:1440px;
    height:1050px;
    margin-top:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#image-wrapper
{
    border-style:solid;
    border-color:var(--ega-white);
    border-width: 14px 8px;
    margin-top:30px;
    max-height:728px;
}

#image-wrapper img
{
    image-rendering:pixelated;
    width:960px;
    height:700px;
}

#image-description
{
    font-size:56px;
    line-height:56px;
    border:6px double #FFF;
    padding:14px;
    width:1280px;
    margin:auto;
}

h1 { font-weight: normal; }
</style>
{% endblock %}

{% block body %}
<div class="art-wrapper">
    <h1>Art-vertizement Break!</h1>
    <div class="c ega-yellow">We'll return in just a few minutes...<br>In the meantime, enjoy these boards from ZZT art compilations</div>
    <div id="image-wrapper"><img src="" id="image"></div>
    <div id="image-description" class="c">
    </div>
</div>

<div class="pos-hud block">
    <div class="info-card">
        <div id="stream-card" class="cp437 ega-darkblue-bg">
            {% audio_info "ad-break" %}
        </div>
    </div>
</div>
{% endblock %}

{% block local_scripts %}
<script>
function get_art() {
    $.ajax({
        url:"/ajax/get-art/"
    }).done(function (data){
        $("#image-description").text(data.desc);
        $("#image").attr("src", "/static/cdosstream/scene/art/" + data.image);
    });
}
$(document).ready(function (){
    get_art();
    setInterval(get_art, 20000);
});
</script>
{% endblock %}
