{% extends "cdosstream/main.html" %}
{% load tz %}
{% load cdosstream_tags %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-layout.css">
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-events.css">
<style>
body {
    width:1440px;
    height:1050px;
    background:url("/static/cdosstream/scene/outro/outro-bg.png");
    background-repeat:no-repeat;
}

#text-wrapper
{
    position:absolute;
    top:1008px;
    left:0px;
    width:1440px;
    text-align:center;
}

#outro-credits
{
    padding-left:24px;
    padding-right:24px;
    font-size:36pt;
    line-height:42px;
    height:42px;
    width:1440px;
}


#outro-music-info.pos-hud
{
    top:350px;
}

#next-stream {
    background-color:#0000AACC;
    position:absolute;
    top:14px;
    left:8px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#next-stream.block {
    max-height:initial;
    height:auto;
}

#next-stream img {
    flex: 0 1;
    max-width:320px;
    margin:auto;
    image-rendering:auto;
    border:1px solid var(--ega-gray);
    margin-top:4px;
    margin-bottom:4px;
}


</style>
{% endblock %}

{% block local_scripts %}
<script src="/static/cdosstream/js/patrons.js"></script>
<script src="/static/cdosstream/js/outro.js"></script>
{% endblock %}

{% block body %}
{% if streams %}
{% with streams.0 as stream %}
<div id="next-stream" class="block">
    <div class="c ega-yellow">Next Time On Worlds Of ZZT</div>
    <div class="c">{{stream.title}}</div>
    <img src="https://museumofzzt.com/{{stream.preview_image}}">
    <div class="c ega-cyan">
        <span class="ega-cyan">
            {% timezone "America/New_York" %}{{stream.when|date:'l N jS'}}<br>
            {{stream.when|date:'h:i A e'}}{% endtimezone %} /
            {% timezone "America/Los_Angeles" %}{{stream.when|date:'h:i A e'}}{% endtimezone %}
        </span>
        <br>
        <span class="ega-blue">{{stream.when|date:'D M jS'}} {{stream.when|date:'H:i e'}}</span>
    </div>
</div>
{% endwith %}
{% endif %}
<div id="text-wrapper">
    <div id="outro-credits" class="active flashing"></div>
</div>
<div class="pos-hud block" id="outro-music-info">
    <div class="info-card">
        <div id="stream-card" class="cp437 ega-darkblue-bg" data-card-pk="{{card.pk}}">
            {% audio_info "outro" %}
        </div>
    </div>
</div>
{% endblock %}
