{% extends "cdosstream/main.html" %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-layout.css">
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-events.css">
<style>
body {
    margin:0px;
}

video
{
    margin-top:-15px;
}

h2
{
    font-weight:normal;
    font-size:28px;
}
</style>
{% endblock %}

{% block local_scripts %}
<script>
const bgm = new Audio();

$(document).ready(function (){
    bgm.src = "/static/cdosstream/scene/intro/second_cruise.ogg";
    bgm.loop = true;
    bgm.volume = 0.3;
    bgm.play();
});
</script>
{% endblock %}

{% block body %}
<video src="/static/cdosstream/scene/intro/intro.mp4" autoplay="autoplay" loop="True"></video>
<div class="pos-hud block">
    <div class="info-card">
        <div id="stream-card" class="cp437 ega-darkblue-bg" data-card-pk="{{card.pk}}">
            <div>
                <h1><span class="heading-letter ega-gray-bg">♫</span>Now Playing:</h1>
                <div class="indented-block">"Second Cruise" by congusbongus</div>
            </div>
            <div>
                <h1><span class="heading-letter ega-darkcyan-bg">∞</span>Link:</h1>
                <div class="indented-block">https://opengameart.org/<br>content/second-cruise</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
