{% extends "cdosstream/main.html" %}
{% load cdosstream_tags %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-layout.css">
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/wozzt-events.css">
<style>
body {
    width:1440px;
    height:1050px;
    background:url("/static/cdosstream/scene/outro/outro-bg.png");
    background-repeat:no-repeat;
}

#text-wrapper
{
    position:absolute;
    top:1008px;
    left:0px;
    width:1440px;
    text-align:center;
}

#outro-credits
{
    padding-left:24px;
    padding-right:24px;
    font-size:36pt;
    line-height:42px;
    height:42px;
    width:1440px;
}


#outro-music-info.pos-hud
{
    top:350px;
}
</style>
{% endblock %}

{% block local_scripts %}
<script src="/static/cdosstream/js/patrons.js"></script>
<script src="/static/cdosstream/js/outro.js"></script>
{% endblock %}

{% block body %}
<div id="text-wrapper">
    <div id="outro-credits" class="active flashing"></div>
</div>
<div class="pos-hud block" id="outro-music-info">
    <div class="info-card">
        <div id="stream-card" class="cp437 ega-darkblue-bg" data-card-pk="{{card.pk}}">
            {% audio_info "outro" %}
        </div>
    </div>
</div>
{% endblock %}
