{% extends "cdosstream/main.html" %}
{% load static %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="/static/cdosstream/css/event-player.css">
{% endblock %}

{% block local_scripts %}
<script src="/static/cdosstream/js/event-player.js?{{TIMESTAMP}}" type="module"></script>
<!--<script src="/static/cdosstream/js/events.js" type="module"></script>-->
<script src="/static/cdosstream/js/utils.js?{{TIMESTAMP}}"></script>
{% include "cdosstream/subtemplate/websocket-server-info.html" %}
{% endblock %}

{% block body %}
<div id="event-queue"></div>
<div class="card transparent position-standard" id="event-card"></div>
{% endblock %}
